data
splats
.idea
noisy_dataset/data


*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
noisy_dataset/resize_dir.py
noisy_dataset/test.py
small_train_splats
